@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.azeret-mono-fonts {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

.orang-primary{
    background-color:rgb(230, 83, 60) ;
}

/* shard prepay */
.display-flax{
    display: flex;
}

/* header section */
header{
    width: 1535px;
    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgb(52, 46, 46);


}
nav h1{
    color: rgb(230,83,60);
    font-size: 36px;
    font-weight: 900;
    line-height: 120%;
    
}
.navber{
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.nav-links li{
    margin-right: 40px;
    list-style: none;
    
}

.nav-links li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height:120%;
    gap: 10;
    padding: 0px 20px 0px 20px;
    
    
}
.nav-links .nav-item{
  background-color: rgb(230, 83, 60);
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}